version: '3.8'

services:
  backend:
    build: ./backend
    ports:
      - "${BACKEND_PORT}:5000"           # Always map container 5000 backend port
    environment:
      - DATABASE_URL=${DATABASE_URL}
    volumes:
      - ./backend:/usr/src/app           # So migration files update live!
    depends_on:
      - db

  frontend:
    build: ./frontend
    ports:
      - "${FRONTEND_PORT}:3000"
    depends_on:
      - backend

  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "${DB_PORT}:5432"
   # volumes:
    #   - ./backend:/usr/src/app     # <--- REMOVE THIS FOR MIGRATION COMMANDS!
volumes:
  pgdata: