version: '3.8'
services:
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_DB: portfolio
      POSTGRES_USER: Joseraven01
      POSTGRES_PASSWORD: Jose254
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "15432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U Joseraven01 -d portfolio"]
      interval: 5s
      timeout: 5s
      retries: 10

  backend:
    build: ./backend
    depends_on:
      db:
        condition: service_healthy
    env_file:
      - ./backend/.env
    ports:
      - "5000:5000"
    volumes:
      - ./backend:/app
      - /app/node_modules
    working_dir: /app
    environment:
      DATABASE_URL: postgres://Joseraven01:Jose254@db:5432/portfolio
    command: sh -c "npm install && npm run migrate && npx nodemon server.js"

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev
    volumes:
      - ./frontend:/app
  
    ports:
      - "3000:3000"
    environment:
      - CHOKIDAR_USEPOLLING=true
      - REACT_APP_API_URL=http://localhost:5000
    command: ["npm", "start"]
    depends_on:
      - backend
    working_dir: /app

volumes:
  pgdata: